<f:if condition="{name}">
    <p>
        <f:translate key="commentas" /> <strong>{name}</strong>.
    </p>
</f:if>

<div class="rd-form-group-main">
    <div class="rd-form-group">
        <label for="name">
            <f:translate key="tx_comments_domain_model_comments.username" /> *
        </label>
        <f:if condition="{name}">
            <f:then>
                <f:form.textfield property="username" id="name" placeholder="{f:translate(key:'name')}"
                    class="validatethis" value="{name}" disabled="disabled" />
            </f:then>
            <f:else>
                <f:form.textfield property="username" id="name" placeholder="{f:translate(key:'name')}"
                    class="validatethis" />
            </f:else>
        </f:if>
        <div class="error-msg" id="name_error">
            <p>
                <f:translate key="name_required" />
            </p>
        </div>
        <div class="error-msg" id="name_error_msg">
            <p>
                <f:translate key="form.nameError" />
            </p>
        </div>
    </div>
</div>

<div class="rd-form-group-main">
    <div class="rd-form-group">
        <label for="email">
            <f:translate key="tx_comments_domain_model_comments.usermail" /> *
        </label>
        <f:if condition="{email}">
            <f:then>
                <f:form.textfield property="usermail" type="text" id="email" placeholder="{f:translate(key:'email')}"
                    class="validatethis" value="{email}" disabled="disabled" />
            </f:then>
            <f:else>
                <f:form.textfield property="usermail" type="text" id="email" placeholder="{f:translate(key:'email')}"
                    class="validatethis" />
            </f:else>
        </f:if>
        <div class="error-msg" id="email_error">
            <p>
                <f:translate key="email_required" />
            </p>
        </div>
        <div class="error-msg" id="email_error_msg">
            <p>
                <f:translate key="form.emailError" />
            </p>
        </div>
    </div>
</div>

<div class="rd-form-group-main">
    <div class="rd-form-group">
        <label for="comment">
            <f:translate key="tx_comments_domain_model_comments.comment" /> *
        </label>
        <f:form.textarea property="description" id="comment" value="{requestData.newComment.description}"
            placeholder="{f:translate(key:'comment')}" class="validatethis"
            additionalAttributes="{minlength: '15', maxlength: '600', 'data-custom-validate': 'true'}" />
        <div class="error-msg" id="comment_error">
            <p>
                <f:translate key="comment_required" />
            </p>
        </div>
    </div>
</div>

<f:if condition="{settings.termsRequired}">
    <div class="rd-form-group-main">
        <div class="rd-form-group">
            <label>
                <f:translate key="terms.label" /> *
            </label>
            <label for="terms" class="rd-form-checkbox">
                <f:form.checkbox property="terms" id="terms" value="1" />
                <f:variable name="termsTypolinkParamater"
                    value="{f:uri.typolink(parameter:'{settings.termsTypolinkParameter}')}" />
                {f:translate(key: 'terms.text', arguments: '{0: "{termsTypolinkParamater}"}') -> f:format.raw()}
            </label>
            <div class="error-msg" id="terms_error">
                <p>
                    <f:translate key="terms_required" />
                </p>
            </div>
            <div class="error-msg" id="terms_error_msg">
                <p>
                    <f:translate key="form.termsError" />
                </p>
            </div>
        </div>
    </div>
</f:if>

<div class="rd-form-group-main">
    <div class="rd-form-group">
        <f:form.submit class="rd-btn-send" id="submit" value="{f:translate(key:'form.submitButton')}" />
    </div>
</div>
<div class="rd-form-group-main">
    <div class="rd-form-group">
        <p class="text-muted"><strong>*</strong>
            <f:translate key="mandatory" />
        </p>
    </div>
</div>


<f:form.hidden property="newsuid" value="{newsID}" />
<f:form.hidden name="parentId" id="parentId" value="" />
<f:form.hidden property="pageid" id="pageid" value="{pageid}" />
<f:form.hidden name="dataType" id="dataType" value="json" />